{% extends 'base.html.twig' %}

{% block headline %}
    Ressourcen Hinzufügen
{% endblock %}
{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    
    <a href="?page=ontopress_resourceAdd" class="page-title-action">Zurück</a>
    <a href="?page=ontopress_ontology" class="page-title-action">Abbrechen</a>
{% endblock %}
