{% extends 'base.html.twig' %}

{% block headline %}
       Resource Verwaltung
    <a href="?page=ontopress_resourceAdd" class="page-title-action">Neu hinzufügen</a>
{% endblock %}
{% block content %}
    <form method="get">
        <div class="tablenav top">
            <br class="clear">
            <div align="right">
                <form action="searchbox">
                    <input type="text" name="fname">
                    <a href="#" class="page-title-action">Ressource suchen</a>
                </form>
            </div>
        </div>
        <table class="wp-list-resource widefat fixed striped users">
            <thead>
            <tr>
                <th scope="col" id="id" class="manage-column column-ID sortable desc">
                    <a href="#">
                        <span>ID</span>
                        <span class="sorting-indicator"></span>
                    </a>
                </th>
                <th scope="col" class="manage-column column-Titel sortable desc">
                    <a href="#">
                        <span>Titel</span>
                        <span class="sorting-indicator"></span>
                    </a>
                </th>
                <th scope="col" class="manage-column column-Autor sortable desc">
                    <a href="#">
                        <span>Autor</span>
                        <span class="sorting-indicator"></span>
                    </a>
                </th>
                <th scope="col" class="manage-column column-Datum sortable desc">
                    <a href="#">
                        <span>Datum</span>
                        <span class="sorting-indicator"></span>
                    </a>
                </th>
                <th scope="col" class="column-Utility">
                    <span>Utility</span>
                </th>
            </tr>
            </thead>
            <tbody id="the-list" data-wp-lists="list:resource">
            <tr id="Resource-1">
                <td class="id column-id has-row-actions column-primary" data-colname="ID">
                    <strong>1</strong><br>
                </td>
                <td class="Titel column-Titel" data-colname="Titel">
                    <p>Augustusplatz</p>
                </td>
                <td class="Autor column-Autor" data-colname="Autor">
                    <p>k00ny</p>
                </td>
                <td class="Datum column-Datum" data-colname="Datum">
                    <p>20.Jan 2016</p>
                </td>
                <td class="Utility column-Utility" data-colname="Utility">
                    <div class="row-actions">
                        <span class="edit"><a href="{{ path('ontopress_resourceAddDetails',{'id': 1}) }}">Bearbeiten</a></span>
                        <span class="delete"><a href="#">Löschen</a></span>
                    </div>
                </td>
            </tr>
            <tr id="Resource-2">
                <td class="id column-id has-row-actions column-primary" data-colname="ID">
                    <strong>2</strong><br>
                </td>
                <td class="Titel column-Titel" data-colname="Titel">
                    <p>Uni Campus</p>
                </td>
                <td class="Autor column-Autor" data-colname="Autor">
                    <p>k00ny</p>
                </td>
                <td class="Datum column-Datum" data-colname="Datum">
                    <p>22.Jan 2016</p>
                </td>
                <td class="Utility column-Utility" data-colname="Utility">
                    <div class="row-actions">
                        <span class="edit"><a href="{{ path('ontopress_resourceAddDetails',{'id': 1}) }}">Bearbeiten</a></span>
                        <span class="delete"><a href="#">Löschen</a></span>
                    </div>
                </td>
            </tr>
            <tr id="Resource-3">
                <td class="id column-id has-row-actions column-primary" data-colname="ID">
                    <strong>3</strong><br>
                </td>
                <td class="Titel column-titel" data-colname="Titel">
                    <p>Oper Leipzig</p>
                </td>
                <td class="Autor column-autor" data-colname="Autor">
                    <p>d3f3kt</p>
                </td>
                <td class="Datum column-datum" data-colname="Datum">
                    <p>22.Jan 2016</p>
                </td>
                <td class="Utility column-utility" data-colname="Utility">
                    <div class="row-actions">
                        <span class="edit"><a href="{{ path('ontopress_resourceAddDetails',{'id': 1}) }}">Bearbeiten</a></span>
                        <span class="delete"><a href="#">Löschen</a></span>
                    </div>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th scope="col" id="id" class="manage-column column-primary sortable desc ">
                    <a href="#">
                        <span>ID</span>
                        <span class="sorting-indicator"></span>
                    </a>
                </th>
                <th scope="col" class="manage-column column-titel sortable desc">
                    <a href="#">
                        <span>Titel</span>
                        <span class="sorting-indicator"></span>
                    </a>
                </th>
                </th>
                <th scope="col" class="manage-column column-autor sortable desc">
                    <a href="#">
                        <span>Autor</span>
                        <span class="sorting-indicator"></span>
                    </a>
                </th>
                </th>
                <th scope="col" class="manage-column column-datum sortable desc">
                    <a href="#">
                        <span>Datum</span>
                        <span class="sorting-indicator"></span>
                    </a>
                </th>
                </th>
                <th scope="col" class="manage-column column-utility">
                    <span>Utility</span>
                </th>
                <div class="dropdown">
                   Ontologie: <select name="Gebäude">
                        <option value="value1" selected>Gebäude</option>
                        <option value="value2">Plätze</option>
                        <option value="value3">Kirchen</option>
                    </select>
                </div>
            </tr>
            </tfoot>
        </table>
    </form>
{% endblock %}
