{% extends 'base.html.twig' %}

{% block headline %}
    Ressource Löschen
{% endblock %}
{% block content %}
    <p>Sie sind dabei die Ressource <b>Augustusplatz</b> zu löschen.</p>


    <h2>Wirklich löschen?</h2>
    <a href="#" class="page-title-action">Löschen</a>
    <a href="{{path('ontopress_resource')}}" class="page-title-action">Abbrechen</a>
{% endblock %}
