{% extends 'base.html.twig' %}

{% block headline %}
    Ressource Bearbeiten
    <h2>{{ title }}</h2>
{% endblock %}
{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
