{% extends 'base.html.twig' %}

{% block headline %}
    Ressource Löschen
{% endblock %}
{% block content %}
    <p>Sie sind dabei die Ressource <b>{{ title }}</b> zu löschen.</p>


    <h2>Wirklich löschen?</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}
