{% extends 'base.html.twig' %}

{% block headline %}
    Formular Anlegen
{% endblock %}
{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <a href="{{path('ontopress_forms')}}" class="page-title-action">Abbrechen</a>
{% endblock %}
