{% extends 'base.html.twig' %}

{% block headline %}
    Formular Bearbeiten
    <h2>Formular Name</h2>
{% endblock %}
{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <a href="#" class="page-title-action">Speichern</a>
    <a href="{{path('ontopress_forms')}}" class="page-title-action">Abbrechen</a>
{% endblock %}
