{% extends 'base.html.twig' %}

{% block headline %}
    Formular Löschen
{% endblock %}
{% block content %}
    <p>Es wurde kein Formular mit der ID {{ id }} gefunden.</p>
    <a href="{{ path('ontopress_forms') }}">
        Zurück zur Übersicht
    </a>
{% endblock %}
