{% extends 'base.html.twig' %}

{% block headline %}
    Formular Verwaltung
    <a href="?page=ontopress_formsCreate" class="page-title-action">Neu hinzufügen</a>
{% endblock %}
{% block content %}
    <form method="get">
        <div class="tablenav top">
             <br class="clear">
        </div>
        <table class="wp-list-form widefat fixed striped users">
            <thead>
            <tr>
                <th scope="col" id="id" class="manage-column column-id column-primary sortable desc">
                    <a href="#">
                        <span>ID</span>
                        <span class="sorting-indicator"></span>
                    </a>
                </th>
                <th scope="col" class="manage-column column-name sortable desc">
                    <a href="#">
                        <span>Name</span>
                        <span class="sorting-indicator"></span>
                    </a>
                </th>
            </thead>
            <tbody id="the-list" data-wp-lists="list:form">
            <tr id="Form-1">
                <td class="id column-id has-row-actions column-primary" data-colname="id">
                    1<br>
                    <div class="row-actions">
                        <span class="edit"><a href="{{ path('ontopress_formsEdit',{'id': 1}) }}">Bearbeiten</a></span>
                        <span class="delete"><a href="#">Löschen</a></span>
                    </div>
                </td>
                <td class="Name column-Name has-row-actions column-primary" data-colname="id">
                    öffentliche Plätze<br>
                </td>
            </tr>
            <tr id="Form-2">
                <td class="id column-id has-row-actions column-primary" data-colname="id">
                    2<br>
                    <div class="row-actions">
                        <span class="edit"><a href="{{ path('ontopress_formsEdit',{'id': 2}) }}">Bearbeiten</a></span>
                        <span class="delete"><a href="#">Löschen</a></span>
                    </div>
                </td>
                <td class="Name column-Name has-row-actions column-primary" data-colname="id">
                    Schulen<br>
                </td>
            </tr>
            <tr id="Form-3">
                <td class="id column-id has-row-actions column-primary" data-colname="id">
                    3<br>
                    <div class="row-actions">
                        <span class="edit"><a href="{{ path('ontopress_formsEdit',{'id': 3}) }}">Bearbeiten</a></span>
                        <span class="delete"><a href="#">Löschen</a></span>
                    </div>
                </td>
                <td class="Name column-Name has-row-actions column-primary" data-colname="id">
                    Galerie<br>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th scope="col" id="id" class="manage-column column-primary sortable desc ">
                    <a href="#">
                        <span>ID</span>
                        <span class="sorting-indicator"></span>
                    </a>
                </th>
                <th scope="col" class="manage-column column-name sortable desc">
                    <a href="#">
                        <span>Name</span>
                        <span class="sorting-indicator"></span>
                    </a>
                </th>
            </tfoot>
        </table>
    </form>
{% endblock %}
