<table class="wp-list-resource widefat fixed striped users">
    <!--Table--->
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Formulare</th>
        <th>Ressourcen</th>
    </tr>
    </thead>
    <!--Testcontent-->
    <tbody>
    {% for ontology in table %}
        <tr>
            <td>{{ ontology.id }}</td>
            <td>{{ ontology.name }}</td>
            <td>{{ ontology.form }}</td>
            <td>{{ ontology.resource }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
