<table class="wp-list-resource widefat fixed striped users">
    <!--Table-->
    <thead>
    <tr>
        <th>Titel</th>
        <th>Author</th>
    </tr>
    </thead>
    <!--Tablecontent-->
    <tbody>
    {% for resource in table %}
        <tr>
            <td>{{ resource.title }}</td>
            <td>{{ resource.author }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
