        <td class='inputRow'>
            <input type="text" {{ formField.widget.attr|raw }} {{ formField.widget.val|raw }} />
            {% if formField.comment is not empty -%}
            <span class="dashicons dashicons-info"></span>
            <span class="comment">{{ formField.comment }}</span>
            {% endif -%}
        </td>
