        <td>
            <select {{ formField.widget.attr|raw }}>
                {%- for key, choice in formField.widget.choices -%}
                <option value="{{ key }}">{{ choice }}</option>
                {% endfor %}
            </select>
        </td>
