        <td class='inputRow'>
            <select {{ formField.widget.attr|raw }}>
                {%- for key, choice in formField.widget.choices -%}
                <option value="{{ key }}">{{ choice }}</option>
                {% endfor %}
            </select>
            {% if formField.comment is not empty -%}
            <span class="dashicons dashicons-info"></span>
            <span class="comment">{{ formField.comment }}</span>
            {% endif -%}
        </td>
