.ontopressWrap .row-actions {
    left: 0!important;
}
.ontopressWrap .button.cancel {
    top: 0!important;
}
.ontopressWrap .welcome-panel
{
    padding-bottom: 20px;
}
.ontopressWrap .dashboard-square{
    background-color:white;
    width:130px;
    height:130px;
    padding: 23px;
    margin-left: 25%;
    margin-top: 3.2%;
    border:1px lightgray solid;
}
.dashboard-square ul li{
    text-align: center;
}
.dashboard-square ul li.number{
    font-size:50px;
}
.ontopressWrap .hndle {
    cursor: default!important;
}

#formCreateType_ontology_field input{
    position: relative;
    float: left;
    margin: 1px;
}
#formCreateType_ontology_field label{
    display: block;
    margin-left: 10px;
}
