{% extends 'base.html.twig' %}

{% block headline %}
    Ontologie Verwaltung
    <a href="{{path('ontopress_ontologyAdd')}}" class="page-title-action">Neu hinzufügen</a>
{% endblock %}
{% block content %}
    <div class="tablenav top">
        <br class="clear">
    </div>
    <table class="wp-list-table widefat fixed striped users">
        <thead>
        <tr>
            <th scope="col" id="id" class="manage-column column-id column-primary sortable desc" style="width: 90px">
                <a href="#">
                    <span>ID</span>
                    <span class="sorting-indicator"></span>
                </a>
            </th>
            <th scope="col" id="ontology" class="manage-column column-ontology sortable desc">
                <a href="#">
                    <span>Ontologie</span>
                    <span class="sorting-indicator"></span>
                </a>
            </th>
            <th scope="col" id="form" class="manage-column column-form sorted asc">
                <a href="#">
                    <span>Formular Anz.</span>
                    <span class="sorting-indicator"></span>
                </a>
            </th>
        </tr>
        </thead>
        <tbody id="the-list" data-wp-lists="list:ontology">
        {% for ontology in ontologyManageTable %}
            <tr>
                <td class="id column-id has-row-actions column-primary" data-colname="ID">
                   <strong>{{ontology.id}}</strong> <br>
                </td>
                <td class="ontology column-ontology" data-colname="Ontology">
                    <p>{{ontology.ontology}}</p>
                    {% include 'snippets/table/deleteRowAction.html.twig' with {'path': path('ontopress_ontologyDelete', {'id': 1})} %}
                </td>
                <td class="form column-form" data-colname="Form">
                    <a href = "#">{{ontology.form}}</a>
                </td>
            </tr>
        {% endfor %}


<!--        <tr id="ontology-1">
            <td class="id column-id has-row-actions column-primary" data-colname="ID">
                <strong>1</strong><br>
            </td>
            <td class="ontology column-ontology" data-colname="Ontology">
                <p>Gebäude</p>
                {% include 'snippets/table/deleteRowAction.html.twig' with {'path': path('ontopress_ontologyDelete', {'id': 1})} %}
            </td>
            <td class="form column-form" data-colname="Form">
                <a href="#">10</a>
            </td>
        </tr>
        <tr id="ontology-2">
            <td class="id column-id has-row-actions column-primary" data-colname="ID">
                <strong>2</strong><br>
            </td>
            <td class="ontology column-ontology" data-colname="Ontology">
                <p>Plätze</p>
                {% include 'snippets/table/deleteRowAction.html.twig' with {'path': path('ontopress_ontologyDelete', {'id': 2})} %}
            </td>
            <td class="form column-form" data-colname="Form">
                <a href="#">5</a>
            </td>
        </tr>
        <tr id="ontology-3">
            <td class="id column-id has-row-actions column-primary" data-colname="ID">
                <strong>3</strong><br>
            </td>
            <td class="ontology column-ontology" data-colname="Ontology">
                <p>Kirchen</p>
                {% include 'snippets/table/deleteRowAction.html.twig' with {'path': path('ontopress_ontologyDelete', {'id': 3})} %}
            </td>
            <td class="form column-form" data-colname="Form">
                <a href="#">8</a>
            </td>
        </tr> -->
        </tbody>
        <tfoot>
        <tr>
            <th scope="col" id="id" class="manage-column column-id column-primary sortable desc">
                <a href="#">
                    <span>ID</span>
                    <span class="sorting-indicator"></span>
                </a>
            </th>
            <th scope="col" id="ontology" class="manage-column column-ontology sortable desc">
                <a href="#">
                    <span>Ontologie</span>
                    <span class="sorting-indicator"></span>
                </a>
            </th>
            <th scope="col" id="form" class="manage-column column-form sorted asc">
                <a href="#">
                    <span>Formular Anz.</span>
                    <span class="sorting-indicator"></span>
                </a>
            </th>
        </tr>
        </tfoot>
    </table>
{% endblock %}
