{% extends 'base.html.twig' %}
{% form_theme form.ontologyFiles 'form/ontologyFileForm.html.twig' %}

{% block headline %}
    Ontologie hochladen
{% endblock %}
{% block content %}
    <div class="infoText">
        <p>In Ontologien wird eine Menge von Begrifflichkeiten eines gemeinsamen<br>
            Gegenstandsbereiches, sowie deren Beziehungen in einer sprachlichen<br>
            und formalen Darstellung abgebildet.<br>
            Zudem enthalten sie Regeln zur Schlussfolgerung und zur Gewährleistung<br>
            ihrer Gültigkeit.<br>
            Durch eine Ontologie wird ein Netzwerk von Informationen<br>
            mit logischen Relationen dargestellt. <br>
            Nachdem eine Ontologie hochgeladen wurde, kann daraus ein Formular<br>
            erstellt werden, dazu müssen Sie die gewünschten Klassen auswählen,<br>
            die im Formular angezeigt werden sollen, außerdem<br>
            wird ein Twig Code generiert, den Sie beliebig verändern können.</p>
    </div>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
