{% extends 'base.html.twig' %}

{% block headline %}
    Ontologie hochladen

{% endblock %}
{% block content %}
    <br class="clear">
    <div>
      <form action="textbox">
           Ontologiename: <input type="text" name="fname">
      </form>
    </div>
    <br class="clear">
    <div>
        <form action="textbox">
            Ontologie<input type="text" name="fname">
            <a href="#" class="page-title-action">Upload</a>
        </form>
    </div>
    <br class="clear">
    <a href="#" class="page-title-action">Speichern</a>
    <a href="{{ path('ontopress_ontology') }}" class="page-title-action">Abbruch</a>
{% endblock %}
