{% extends 'base.html.twig' %}

{% block headline %}
    Ontologie hochladen

{% endblock %}
{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <a href="#" class="page-title-action">Speichern</a>
    <a href="{{ path('ontopress_ontology') }}" class="page-title-action">Abbruch</a>
{% endblock %}
