{% extends 'base.html.twig' %}
{% form_theme form.ontologyFiles 'form/ontologyFileForm.html.twig' %}

{% block headline %}
    Ontologie hochladen
{% endblock %}
{% block content %}
    <div class="infoText">
        <p>In Ontologien wird eine Menge von Begrifflichkeiten eines gemeinsamen Gegenstandsbereiches<br>
            sowie deren Beziehungen in einer sprachlichen und formalen Darstellung abgebildet.<br>
            Zudem enthalten sie Regeln zur Schlussfolgerung und zur Gewährleistung ihrer Gültigkeit.<br>
            Durch Ontologien wird ein Netzwerk von Informationen mit logischen Relationen dargestellt. </p>
        <p> Nachdem eine Ontologie hochgeladen wurde, kann daraus ein Formular erstellt werden.</p>
        <p>Dazu müssen Sie die gewünschten Klassen auswählen, die im Formular angezeigt werden sollen,<br>
            außerdem wird ein Twig Code generiert, den Sie beliebig verändern können</p>
    </div>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
