{% extends 'base.html.twig' %}

{% block headline %}
    Ontologie hochladen
<h2> Nachdem eine Ontologie hochgeladen wurde, kann daraus ein Formular erstellt werden.</h2>
<h3>Dazu müssen Sie die gewünschten Klassen auswählen, die im Formular angezeigt werden sollen,<br>
    außerdem wird ein Twig Code generiert, den Sie beliebig verändern können</h3>
{% endblock %}
{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
